body{
	background: url(backgroundWeb.png);
    margin-bottom: 20px;
    background: url(backgroundWeb.png);
    margin-bottom: 20px;
	}

h4{
	color: green;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
h3{
	color: brown;
	font-size: 20px;
	margin-left: 15px;
}
h2{
	color: back;
	font-size: 20px;
	font-style: bold;
	margin-left: 10px;
}
.text{
	color: black;
	font-size: 20px;	
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
    margin-bottom: 20px;
}
.img-phongcanh{
	//width: 300px;
	//height: 300px;
}